@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #FC9E1A;
    --ecstasy: #f88119;
    --dark-gray: #6b7280;
    --light-gray: #f9fafb; 
    --gray:#E5e4e2;
    --ochre: #Cc7722;
    --taupe: #d6bda9;
    --navajo: #Ffdead;
}

/*
    primary - #6C63FF
    #ffdead
    #03BFFF
    #Cc7722

    #79d4b3

    ** #BE6634
    ** #26eb99
    *** #574917
    

    background-image: linear-gradient(#1e130c, #9a8478);
    background-image: linear-gradient(#73C8A9, #4f5664);
*/

body{
    font-family: 'Poppins', sans-serif;
}

#navigation{
    background: var(--primary-color);
    padding: 1rem;
    /* max-width:900px;  */
    width: 75%;
    margin: auto;
    margin-top: 5px;
    padding-top: 1.2rem;
    border-radius: 10px;
    
    background-image: linear-gradient(to right,#975a1c, #cab4a6);
    box-shadow: 1px 1px 5px 0.5px black;
    
}

#navigation:hover{
    animation:nav_anim 2.4s;
    animation-fill-mode: forwards;
}

@keyframes nav_anim{
    from{width: 75%;}
    to{width: 90%; box-shadow: 0.8px 0.8px 5px 0.8px black;}
}


.header-heading,.header-subheading{
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 6s steps(40, end),
        opacity_1 2s,
        blink-caret .75s step-end ;    
        animation-delay: 15ms;
}

@keyframes typing {
    from { width: 0;}
    to { width: 100%;}
}

@keyframes opacity_1{
    from {opacity: 0;}
    to {opacity: 1;}
}


.link{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0.6rem;
}

.link:hover{
    background: #945109;
    color: white;
    border-radius: 10px;
}

.list-item-inline{
    display: inline;
    margin: 1rem;
}

.nav-links{
    text-align: right;
    margin-top: 1.2rem;
}

.nav-brand{
    font-family: 'Ma Shan Zheng', cursive;
    color: white;
    /* font-weight: bolder; */
    font-size: 2.5rem;
}


.container-center{
    max-width: 600px;
    margin: auto;
}

.header{
    margin-top: 5rem;
    /* background-image: linear-gradient(#ede574, #e1f5c4); */
    /* background: var(--light-gray); */
}

.header-image{
    max-width: 50%;
    border-radius: 50%;
    display: block;
    margin: auto;
}


.header-heading{
    color: var(--ecstasy);
    text-align: center;
    margin-top: 2rem;
}

.header-subheading{
    color: var(--dark-gray);
    text-align: center;
}

.header{
    max-width: 50%;
    padding: 2rem;
    /* background: var(--light-gray); */
    border-radius: 20px;
    font-size: 1.3vw;
}

@keyframes name{
    from{font-size: initial; max-width: 50%; font-size: 1.3vw;}
    to{font-size:1.6vw; max-width: 58%; background: var(--gray); box-shadow: 0.8px 0.8px 20px 0.8px rgb(61, 61, 61);}
}

.header:hover{
    /* font-size: 2rem; */
    animation: name 3s;
    animation-fill-mode: forwards;
}


.section-about{
    margin: auto;
    margin-top: 4rem;
    background: var(--light-gray);
    max-width: 75%;
    padding: 3rem;
    border-radius: 30px;
    margin-bottom: 5rem;
    /* justify-content: center; */
}

@keyframes about{
    from{font-size: initial; max-width: 75%;}
    to{font-size: 1.2vw; max-width: 83%; background: var(--gray); box-shadow: 0.8px 0.8px 20px 0.8px rgb(61, 61, 61);}
}

.section-about:hover{
    animation: about 3s;
    animation-fill-mode: forwards;
}

.section-image{
    padding-left: 3rem;
    max-width: 25%;
}

.section-text{
    float: right;
    padding-top: 9em;
    font-size: 1.2vw;
    margin: auto;
    justify-content: center;
}

.section-heading{
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 0.7rem;
}

.list-item{
    padding-bottom: 0.7rem;
}

.section-project{
    /* padding-bottom: 3rem; */
    padding: 3rem;
    background: var(--light-gray);
    max-width: 75%;
    margin: auto;
    border-radius: 30px;
}

.section-project:hover{
    animation: project 3s;
    animation-fill-mode: forwards;
}

@keyframes project{
    from{font-size: initial; max-width: 75%;}
    to{font-size: 1.5vw; background: var(--gray); max-width: 83%; box-shadow: 0.8px 0.8px 20px 0.8px rgb(61, 61, 61);}
}

.project-card{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem;
    background: var(--taupe);
}

.card-heading{
    padding-bottom: 1rem;
}

.project-heading, .project-description{
    text-align: center;
    /* padding-bottom: 3rem; */
}

.primary-link{
    text-decoration: none;
    background: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem;
    display: block;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 10px;
}

.secondary-link{
    text-decoration: none;
    background: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);    

   
    padding: 0.5rem 1rem;
    margin:1rem;
    
    display: block;
    text-align: center;
    
    width: 50%;
    
    margin:auto;
    margin-top:1rem;
    border-radius: 10px;
}

footer{
    background: var(--primary-color);
    padding: 1rem;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 5px;
    padding-top: 1.2rem;
    border-radius: 10px;
    background-image: linear-gradient(to right,#975a1c, #cab4a6);
    box-shadow: 1px 1px 5px 0.5px black;
}

footer:hover{
    animation:nav_anim 3s;
    animation-fill-mode: forwards;    
}

.footer-header{
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
}


@media (max-width:700px){
    .section-about{
        /* display: block; */
        height: 35vw;
    }

    .section-image{
        display: block;
        margin: auto;
        padding-left: 0;
        max-width: 20%;
    }

    .section-heading{
        text-align: center;
        padding: 0;
    }
    
    .section-text{
        display: inline;
        /* margin: auto; */
        padding-top: 2em;
        text-align: center;
        font-size: 1.8vw;
        /* margin-bottom: 00px;  */
        /* justify-content: center; */
        margin-right: 0.8rem;
    }

    .card-heading{
        padding-bottom: 1rem;
    }
}
